html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
	display: block;
}
body {
	line-height: 1;
}
ol,
ul {
	list-style: none;
}
blockquote,
q {
	quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

:root {
	--ff-title: 'Montserrat', sans-serif;
	--ff-subheading: 'Montserrat', sans-serif;
	--ff-content: 'Hind', sans-serif;

	--clr-accent: #940606;
	--clr-neutral-100: #fff;
	--clr-neutral-200: #ececec;
	--clr-neutral-900: black;
}

body {
	background-color: var(--clr-neutral-200);
}

p {
	font-family: var(--ff-content);
}

.main-div {
	text-align: center;
}

/* logo */

.logo-container {
	text-align: center;
	margin: 3rem auto 1rem;
}

.main-logo {
	font-family: var(--ff-title);
	font-size: 4rem;
}

.logo-span {
	color: var(--clr-accent);
	font-weight: 700;
}

/* Log-in */

.container {
	text-align: center;
	margin: 1rem auto;
}

.user-prompt {
	font-family: var(--ff-subheading);
	font-size: 1.2rem;
	font-weight: 700;
	margin-top: 4rem;
}

.login-inputs {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.login-input {
	width: 47%;
	margin: 0.2rem;
	padding: 0.3rem .6rem;
	font-family: var(--ff-content);
	font-size: 0.75rem;
}

.login-input:first-child {
	margin-top: 1rem;
}

.login-btn {
	width: 50%;
	margin-top: .5rem;
	padding: 0.4rem;
	font-family: var(--ff-subheading);
	border-style: none;
	color: var(--clr-neutral-100);
	font-weight: bold;
	background-color: var(--clr-accent);
	border-radius: 1rem;
}

.login-btn:hover {
	cursor: pointer;
	opacity: .85;
	transition: opacity 200ms;
}

/* Loading
.loading-container {
	box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
	border-radius: 6px;
	background-color: white;
	padding: 1rem;
	text-align: center;
	width: 30rem;
	z-index: 10;
	position: fixed;
	top: 20vh;
	left: calc(50% - 15rem);
}

.backdrop {
	position: fixed;
	z-index: 1;
	background-color: rgba(0, 0, 0, 0.75);
	width: 100%;
	height: 100vh;
	top: 0;
	left: 0;
} */

/* Main Bank */

.welcome-user {
	font-weight: 700;
	font-size: 1.1rem;
}

/* Balance */
.feature-div {
	margin: 2rem auto;
	text-align: center;
	background-color: var(--clr-neutral-100);
	min-width: 30%;
	max-width: 60%;
	border-radius: 2rem;
	padding: 3rem;
}

.bank-balance {
	font-family: var(--ff-subheading);
	font-size: 4rem;
	font-weight: 700;
	color: var(--clr-accent);
	padding: .5rem;
}
